<!DOCTYPE html>

@{ 
    string Ad;
    string Soyad;
    if (Session["member"] != null)
    {
        Ad = (Session["member"] as AppUser).Profile.FirstName;
        Soyad= (Session["member"] as AppUser).Profile.LastName;
    }
    else
    {
        Ad = "Misafir";
        Soyad = "";
    }

}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>GrandProject E-Ticaret</title>

    <!-- Bootstrap core CSS -->

    <link href="~/OuterTools/FlatAdmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/OuterTools/FlatAdmin/css/bootstrap-reset.css" rel="stylesheet">

    <!--external css-->

    <!--external script kodları (Jquery)-->
    <script src="~/OuterTools/FlatAdmin/js/jquery.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/bootstrap.min.js"></script>



    <link href="~/OuterTools/FlatAdmin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="~/OuterTools/FlatAdmin/assets/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" />

    <link href="~/OuterTools/FlatAdmin/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet" />
    <link href="~/OuterTools/FlatAdmin/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />

    <!--To be deleted-->
    <link href="~/OuterTools/FlatAdmin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/OuterTools/FlatAdmin/css/owl.carousel.css" type="text/css">
    <!--To be deleted-->
    <!-- Custom styles for this template -->
    <link href="~/OuterTools/FlatAdmin/css/style.css" rel="stylesheet">
    <link href="~/OuterTools/FlatAdmin/css/style-responsive.css" rel="stylesheet" />



     @*HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries 
    [if lt IE 9]>*@
      <script src="~/OuterTools/FlatAdmin/js/html5shiv.js"></script>
      <script src="~/OuterTools/FlatAdmin/js/respond.min.js"></script>
    @*<![endif]*@
</head>

<body>

    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="~/Home/Login" class="logo">Grand<span>Project</span></a>


            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <!--  notification end -->
            </div>

            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li>
                        @Html.ActionLink("  ", "CartPage", "Member", new { @class = "icon-shopping-cart", @title = TempData["message"] })

                    </li>
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <span class="username">@Ad  @Soyad</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            @if (Session["member"] != null)
                            {
                                <li><a href="/Home/LogOut"><i class="icon-key"></i> Çıkış</a></li>
                            }
                            else
                            {
                                <li><a href="/Home/Login"><i class="icon-key"></i> Giris</a></li>
                            }

                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <input id="Filtre" type="text" placeholder="Ürün Arat" class="form-control">
                    </li>


                    @foreach (Category item in ViewData["kategoriler"] as List<Category>)
                    {
                        <li>
                            @Html.ActionLink(item.CategoryName, "ProductList", "Member", new { @item = item.CategoryName }, new { @class = "active" })

                        </li>
                    }


                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()

            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2019 &copy; YMS 3132
                <a href="#" class="go-top">
                    <i class="icon-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->

    <script type="text/javascript" language="javascript" src="~/OuterTools/FlatAdmin/assets/advanced-datatable/media/js/jquery.js"></script>


    <script class="include" type="text/javascript" src="~/OuterTools/FlatAdmin/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/jquery.scrollTo.min.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/OuterTools/FlatAdmin/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/OuterTools/FlatAdmin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/owl.carousel.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/jquery.customSelect.min.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/respond.min.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/sliders.js"></script>
    <script type="text/javascript" language="javascript" src="~/OuterTools/FlatAdmin/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
    <script class="include" type="text/javascript" src="~/OuterTools/FlatAdmin/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/bootstrap.min.js"></script>



    <!--common script for all pages-->
    <script src="~/OuterTools/FlatAdmin/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="~/OuterTools/FlatAdmin/js/sparkline-chart.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/easy-pie-chart.js"></script>
    <script src="~/OuterTools/FlatAdmin/js/count.js"></script>

    <script>

        //owl carousel

        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

    </script>

</body>
</html>